{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: " Select a report to open the corresponding CADS management information dashboard."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <main class="govuk-main-wrapper ">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <a href="../mocks/dashboard_1.html" class="portal-card-link">
                <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Holding summary</h2>
                  </div>
                  <div class="govuk-summary-card__content">
                    <p class="govuk-body-s">
                      Summary of a single holding, including on/off movements, species and
                      mapped holdings.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="govuk-grid-column-one-half">
              <a href="../mocks/dashboard_2.html" class="portal-card-link">
                <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Animal summary</h2>
                  </div>
                  <div class="govuk-summary-card__content">
                    <p class="govuk-body-s">
                      Movement history and mapped journey for an individual animal, including
                      last known holding.
                    </p>

                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <a href="../mocks/dashboard_3.html" class="portal-card-link">
                <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Movements (all holdings)</h2>
                  </div>
                  <div class="govuk-summary-card__content">
                    <p class="govuk-body-s">
                      High-level movement metrics including within-country and cross-border
                      flows and detailed movement table.
                    </p>

                  </div>
                </div>
              </a>
            </div>
            <div class="govuk-grid-column-one-half">
              <a href="../mocks/dashboard_4.html" class="portal-card-link">
                <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Movement summary (holding)</h2>
                  </div>
                  <div class="govuk-summary-card__content">
                    <p class="govuk-body-s">
                      On/off movement summaries for a holding, including direction and species
                      charts and tables.
                    </p>

                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <a href="../mocks/dashboard_5.html" class="portal-card-link">
                <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Journey by haulier</h2>
                  </div>
                  <div class="govuk-summary-card__content">
                    <p class="govuk-body-s">
                      Journey-level view by vehicle and haulier, including load/unload
                      summary and mapped holdings.
                    </p>

                  </div>
                </div>
              </a>
            </div>
            <div class="govuk-grid-column-one-half">
              <a href="../mocks/dashboard_6.html" class="portal-card-link">
                <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Zonal movements summary</h2>
                  </div>
                  <div class="govuk-summary-card__content">
                    <p class="govuk-body-s">
                      Into-zone, out-of-zone, within-zone, import and export summaries with
                      mapped holdings in and around the zone.
                    </p>

                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <a href="../mocks/dashboard_7.html" class="portal-card-link">
                <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Cohort tracing</h2>
                  </div>
                  <div class="govuk-summary-card__content">
                    <p class="govuk-body-s">
                      Cohort holdings, status summary and detailed animal/last-known holding
                      data for a selected cohort animal.
                    </p>

                  </div>
                </div>
              </a>
            </div>
            <div class="govuk-grid-column-one-half">
              <a href="../mocks/dashboard_8.html" class="portal-card-link">
                <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Sheep and goat inspections</h2>
                  </div>
                  <div class="govuk-summary-card__content">
                    <p class="govuk-body-s">
                      Inspection-oriented view of holding movement history and animals in
                      movement around inspection dates.
                    </p>

                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <a href="../mocks/dashboard_9.html" class="portal-card-link">
                <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Unregistered herds and flocks</h2>
                  </div>
                  <div class="govuk-summary-card__content">
                    <p class="govuk-body-s">
                      Data quality view of unregistered and archived herds/flocks, with
                      related holding metrics.
                    </p>

                  </div>
                </div>
              </a>
            </div>
            <div class="govuk-grid-column-one-half">
              <a href="../mocks/dashboard_10.html" class="portal-card-link">
                <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Scrapie flock scheme audit</h2>
                  </div>
                  <div class="govuk-summary-card__content">
                    <p class="govuk-body-s">
                      Compulsory Scrapie Flock Scheme audit, including holding details,
                      movement history and off-move summary.
                    </p>

                  </div>
                </div>
              </a>
            </div>
          </div>


        </main>
      </div>
    </div>
  </div>

{% endblock %}
