{% extends 'layouts/page.njk' %}

{% macro reportItem(report) %}
<div class="govuk-grid-column-one-half">
  <a href="../mocks/{{report.reportKey}}" class="portal-card-link">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{report.title}}</h2>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body-s">
          {{report.description}}
        </p>
      </div>
    </div>
  </a>
</div>
{% endmacro %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Select a report to open the corresponding CADS management information dashboard."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <div class="govuk-body" data-testid="app-page-body">
        <main class="govuk-main-wrapper ">
            <div class="govuk-grid-row">
              {% for item in viewModel.reports %}
                {{reportItem(item)}}
              {% else %}
                <div class="govuk-summary-card__content">
                  <p class="govuk-body-s">No reports found.</p>
                </div>
              {% endfor %}
            </div>
        </main>
      </div>
    </div>
  </div>

{% endblock %}
