{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "cads-mis"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>
          Use CADS MIS to view management information dashboards and reports for animal health and livestock movement data.
        </p>
        <a href="/login" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Sign in
        </a>
      </div>
    </div>
  </div>

{% endblock %}
