{% extends 'layouts/page.njk' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {{ appHeading({
    text: 'Monthly GB cattle deaths'
  }) }}

  <div class="govuk-notification-banner govuk-notification-banner--success js-download-success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" hidden>
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">Report successfully downloaded</h3>
      <p class="govuk-body"><a class="govuk-notification-banner__link" href="">Request another report</a></p>
    </div>
  </div>

  <div class="govuk-error-summary js-download-error" data-module="govuk-error-summary" hidden>
    <div role="alert">
      <h2 class="govuk-error-summary__title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li class="js-download-error-message"></li>
        </ul>
      </div>
    </div>
  </div>

  <form class="js-download-form" data-module="download-form" data-download-url="/download/{{reportNames.gbCattleDeaths}}">
    {{ appYearMonthPicker({
        startYear: 2016
    }) }}

    {{ govukRadios({
      name: "reportType",
      fieldset: {
        legend: {
          text: "Report type"
        }
      },
      items: [
        {
          value: "xlsx",
          text: "Excel",
          checked: true
        },
        {
          value: "csv",
          text: "CSV"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Download",
      classes: "js-download-button"
    }) }}
  </form>
{% endblock %}
