// Apply only to your portal cards, not all summary cards
.portal-card {
  .govuk-summary-card {
    min-height: 175px;
    position: relative;
  }

  .govuk-summary-card__content {
    padding-bottom: 20px;
  }
}