<div class="govuk-grid-column-one-half portal-card" data-testid="report-item">
  <a href="../report/{{report.reportKey}}" class="portal-card-link">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title" data-testid="report-item-title">{{report.title}}</h2>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body-s" data-testid="report-item-description">
          {{report.description}}
        </p>
      </div>
    </div>
  </a>
</div>
